<nav class="navbar navbar-expand-md sticky-top background">
  <!-- Brand -->
  <a class="navbar-brand" routerLink='/travels'><img class="img-thumbnail" src="../assets/silence.jpg" alt="" style="width: 120px"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon">&#xf039;</span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/'>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/travels'>Travels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/blog'>Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/warenkorb'>Warenkorb</a>
      </li>
    </ul>
  </div>
</nav>