<!--div´s for Birds start-->
<div class="bird-container bird-container--one">
	<div class="bird bird--one"></div>
</div>	
<div class="bird-container bird-container--two">
	<div class="bird bird--two"></div>
</div>	
<div class="bird-container bird-container--three">
	<div class="bird bird--three"></div>
</div>	
<div class="bird-container bird-container--four">
	<div class="bird bird--four"></div>
</div>
<!--div´s for Birds end-->
<!--container for text and link to formular start-->
<div class="m-5">
    <p class="h3">Experience The</p>
    <p class="h1">Best Trip Ever</p>
    <p class="h5 mt-5">our job is to respond to your wishes and do everything so that you don't have to worry</p>
    <button class="btn"><a routerLink='/warenkorb'>contact us!</a></button>
</div>
<!--container for text and link to formular end-->
<!--container for "Stiftung Warengut" start-->
<div class="d-flex flex-wrap justify-content-around mt-5">
	<div class="col col-lg-3 col-md-6 stiftung m-1">
		<h3>Stiftung Warengut</h3>
		<hr>		
		<p>Getestet am 27.06.2020</p>
		<p>Note 3</p>
		<div class="pic">
			<img class="img-fluid" src="../assets/herz.jpg" alt="">
		</div>		
	</div>
	<div class="col col-lg-3 col-md-6 stiftung m-1">
		<h3>Stiftung Warengut</h3>
		<hr>
		<p>Getestet am 15.04.2019</p>
		<p>Note 2</p>
		<div class="pic">
			<img class="img-fluid" src="../assets/herz.jpg" alt="">
		</div>
	</div>
	<div class="col col-lg-3 col-md-6 stiftung m-1">
		<h3>Stiftung Warengut</h3>
		<hr>
		<p>Getestet am 10.01.2018</p>
		<p>Note 1</p>
		<div class="pic">
			<img class="img-fluid" src="../assets/herz.jpg" alt="">
		</div>
	</div>	
</div>
<!--container for "Stiftung Warengut" end-->